[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "static/admin"]
	path = static/admin
	url = https://github.com/woliveiras/netlify-cms-base.git
